@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-purple-100 transition-colors duration-200;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    @apply bg-gray-900 rounded-full;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-purple-800 rounded-full hover:bg-purple-700;
  }
}
